@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Tilt+Warp&display=swap');

* {
    margin: 0;
    padding: 0;

    /* Font */
    font-family: "Tilt Warp", sans-serif;
}

:root {
    --bg: #A7CEED;
}

body {
    background-color: #A7CEED;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.header {
    box-sizing: border-box;
    /* height: 33vh; */
    width: 100dvw;
    display: grid;
    place-content: center;
    grid-template-areas: "one";
    /* background-image: url(assets/svg/top-100.svg); */
    /* background-size: 100vw; */
    
}

.year {
    padding-top: min(100px, 20vh);
    font-size: 8rem;
    font-weight: 600;
    color: #000000;
    grid-area: one;
    text-align: center;
}

.year_zoomout {
    /* Add this with javascript */
    animation: year-color ease-in-out both 6000ms;
}

@keyframes year-color {
    from {
        
    }
    to {
        transform: scale(0.1);
        color: white;
    }
}

/* Parachute */

.parachute {
    position: sticky;
    top: 5rem;
    z-index: 4;
    height: 0px;
    /* ! Change animation properties here! */
    transition: top 5s ease-out;
}

img#parachute {
    width: 8rem;
}

.swaying {
    animation: sway-animation 4s cubic-bezier(.76,-0.01,.4,1) infinite alternate both;
    transform-origin: top;

}

@keyframes sway-animation {
    0% {
        transform: translateX(30px) rotate(-20deg);
    }
    100% {
        transform: translateX(-30px) rotate(20deg);
    }
}

/* Parallax */
.parallax {
    /* Arbitrary value set at the beginning */
    /* height: 5000px; */
    /* Grid area */
    display: grid;
    /* place-content: center; */
    grid-template-areas: "one"
                        "two" 
                        "three";
}

.top100 {
    z-index: 1;
}

.top50 {
    z-index: 5;
}

.top100, .top50 {
    grid-area: one;
    
    max-width: 100dvw;
}

