@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Tilt+Warp&display=swap');

* {
    margin: 0;
    padding: 0;

    /* Font */
    font-family: "Tilt Warp", sans-serif;
}

:root {
    --bg: #A7CEED;
}

body {
    background-color: #A7CEED;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.header {
    box-sizing: border-box;
    /* height: 33vh; */
    width: 100vw;
    display: grid;
    place-content: center;
    grid-template-areas: "one";
    /* background-image: url(assets/svg/top-100.svg); */
    /* background-size: 100vw; */
    
}

.year {
    padding-top: min(100px, 20vh);
    font-size: 8rem;
    font-weight: 600;
    color: #000000;
    grid-area: one;
    text-align: center;
}

.year_zoomout {
    /* Add this with javascript */
    animation: year-color ease-in-out both 6000ms;
}

@keyframes year-color {
    from {
        
    }
    to {
        transform: scale(0.1);
        color: white;
    }
}

/* Parachute */

.parachute {
    position: sticky;
    top: 5rem;
    z-index: 4;
    height: 0px;
    /* ! Change animation properties here! */
    transition: top 5s ease-out;
}

img#parachute {
    width: 8rem;
}

.swaying {
    animation: sway-animation 4s cubic-bezier(.76,-0.01,.4,1) infinite alternate both;
    transform-origin: top;

}

@keyframes sway-animation {
    0% {
        transform: translateX(30px) rotate(-20deg);
    }
    100% {
        transform: translateX(-30px) rotate(20deg);
    }
}

/* Parallax */
.parallax {
    /* Arbitrary value set at the beginning */
    /* height: 5000px; */
    /* Grid area */
    display: grid;
    /* place-content: center; */
    grid-template-areas: "one"
                        "two" 
                        "three";
}

.top100 {
    z-index: 1;
}

.top50 {
    z-index: 5;
}

.two100 {
    z-index: 1;
}

.two70 {
    z-index: 5;
}

.three {
    z-index: 5;
    transform: scale(75%);
}

.three-2 {
    z-index: 1;
    transform: scale(75%);
}

.top100, .top50 {
    grid-area: one;
}

.two100, .two70 {
    grid-area: two;
}

.three, .three-2 {
    grid-area: three;
}

.background {
    max-width: 100vw;
}

/* Dialog */
dialog {
    position: absolute;
    margin: auto;
    margin-top: min(100px, 10vh);
    z-index: 100;
    /* Modal box itself */
    border: none;
    border-radius: 10px;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.598);
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.memory_box {
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-areas: "button"
                         "photo"
                         "caption";
}

.dialog_button {
    display: flex;
    justify-content: flex-end;
}

#close_button {
    /* border-radius: 50%; */
    /* width: 2rem;
    height: 2rem;
    background-color: red; */
    background-color: antiquewhite;
    border-radius: 100%;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    transition: transform 300ms ease-out;
}
#close_button:focus {
    outline: none;
}
#close_button:hover {
    transform: rotate(360deg) scale(0.9);
    background-color: #fbd7a7;
}
#close_button:active {
    transform: scale(1.1);
}

#dialog_image {
    max-height: 65vh;
    object-fit: cover;
}

.date {
    font-style: italic;
    color: black;
    opacity: 0.8;
}

.description {
    font-size: 1.1rem;
}